---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Plan from '../components/Plan.astro';
import Afisha from '../components/Afisha.astro';
import Kitchen from '../components/Kitchen.astro';
import Gallery from '../components/Gallery.astro';
import Contact from '../components/Contact.astro';
import AuthorNote from '../components/AuthorNote.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
  <Nav />
  <main>
    <Hero />
    <Plan />
    <Afisha />
    <Kitchen />
    <Gallery />
    <Contact />
    <AuthorNote />
  </main>
  <Footer />
</Layout>
